.item-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

.image-container {
    max-width: 70vw;
    margin: 0 auto;
    position: relative;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
}

#heart-button {
    border: 1px solid gray;
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
}



.button-container {
    display: flex;
    justify-content: space-between;
    gap: 5px
}

#more-details-button {
    background-color: gray;
}

#cart-button {
    background-color: green;
}

#buy-button {
    background-color: orange;
}