.icon-nav{
    color: white;
}

.container-list-nav {
    background-color: #BA521D;
    width: 90%;
    margin: 0px 4%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

ul.list-nav li {
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.list-nav {
    position: relative;
    display: flex;
    gap: 25px;
    width: 100%;
}