.card-favorite {
    width: 94%;
    overflow: hidden;
    border-radius: 20px;
    display: inline-block;
    display: flex;
    position: relative;
    background-color: white;
    margin-top: 8px;
    font-size: 15px;
}

.card-favorite img {
    width: 35%;
    height: 100%;
    padding: 6px;
    border-radius: 20px;
}


.btn-item-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: 0px;
    display: flex;
    cursor: pointer;
}

.info-item-favorite {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.price-item-favorite {
    text-align: initial;
    padding: 5px 0;

}

.description-item-favorite {
    text-align: initial;
    max-height: 55px;
    font-size: 12px;
}

.favorite-btn {
    top: 3px;
    right: 6px;
}

.name-capsule-favorite {
    max-width: 190px;
    width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}